<footer class="footer">
    <div class="nav-elements">
        <a href="#" class="nav-element active">Home</a>
        <a href="#" class="nav-element">Policy</a>
        <a href="#" class="nav-element">Sports</a>
        <a href="#" class="nav-element">curious</a>
    </div>
    <p>All rights reserver &copy; 2023</p>
</footer>
</body>
</html>