{{> header}}
    <div class="banner"></div>
    <main class="main separacion">
        <section class="left-column">
            <h2>Policy News</h2>
            <article class="big-article">
                <img class="big-article-img" src="./images/foto-min.jpg">
                <h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit voluptas deserunt fugiat cupiditate a.</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil aliquam repudiandae cupiditate voluptatibus quae, doloribus tempore facere magnam sequi ad inventore iusto suscipit, quisquam alias porro amet ea temporibus dolor!</p>
                <a href="/new" class="article-read">Read More ></a>
            </article>
            <article class="big-article">
                <img class="big-article-img" src="./images/foto-min.jpg">
                <h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit voluptas deserunt fugiat cupiditate a.</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil aliquam repudiandae cupiditate voluptatibus quae, doloribus tempore facere magnam sequi ad inventore iusto suscipit, quisquam alias porro amet ea temporibus dolor!</p>
                <a href="/new" class="article-read">Read More ></a>
            </article>
            <article class="big-article">
                <img class="big-article-img" src="./images/foto-min.jpg">
                <h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit voluptas deserunt fugiat cupiditate a.</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil aliquam repudiandae cupiditate voluptatibus quae, doloribus tempore facere magnam sequi ad inventore iusto suscipit, quisquam alias porro amet ea temporibus dolor!</p>
                <a href="/new" class="article-read">Read More ></a>
            </article>
        </section>
        <section class="right-column">
            <h4>Sports News</h4>
            <div class="article-list">
                <article class="small-article">
                    <img class="small-article-img" src="./images/foto-min.jpg">
                    <div class="article-text">
                        <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit architecto cum et quae.</h5>
                        <a href="/new" class="article-read">Read More ></a>
                    </div>
                </article>
                <article class="small-article">
                    <img class="small-article-img" src="./images/foto-min.jpg">
                    <div class="article-text">
                        <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit architecto cum et quae.</h5>
                        <a href="/new" class="article-read">Read More ></a>
                    </div>
                </article>
                <article class="small-article">
                    <img class="small-article-img" src="./images/foto-min.jpg">
                    <div class="article-text">
                        <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit architecto cum et quae.</h5>
                        <a href="/new" class="article-read">Read More ></a>
                    </div>
                </article>
                <article class="small-article">
                    <img class="small-article-img" src="./images/foto-min.jpg">
                    <div class="article-text">
                        <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit architecto cum et quae.</h5>
                        <a href="/new" class="article-read">Read More ></a>
                    </div>
                </article>
            </div>
        
            <h4>Curious News</h4>
            <div class="article-list">
                <article class="mid-article">
                    <img class="mid-article-img" src="./images/foto-min.jpg">
                    <div class="article-text">
                        <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit architecto cum et quae.</h5>
                        <a href="/new" class="article-read">Read More ></a>
                    </div>
                </article>
                <article class="mid-article">
                    <img class="mid-article-img" src="./images/foto-min.jpg">
                    <div class="article-text">
                        <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit architecto cum et quae.</h5>
                        <a href="/new" class="article-read">Read More ></a>
                    </div>
                </article>
                <article class="mid-article">
                    <img class="mid-article-img" src="./images/foto-min.jpg">
                    <div class="article-text">
                        <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit architecto cum et quae.</h5>
                        <a href="/new" class="article-read">Read More ></a>
                    </div>
                </article>
            </div>
        </section>
    </main>
{{> footer}}