{{> header}}
    <main class="main separacion">
        <section class="left-column">
            <h4>Last News</h4>
            <article class="big-article">
                <img class="big-article-img" src="./images/foto-min.jpg">
                <h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit voluptas deserunt fugiat cupiditate a.</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil aliquam repudiandae cupiditate voluptatibus quae, doloribus tempore facere magnam sequi ad inventore iusto suscipit, quisquam alias porro amet ea temporibus dolor!</p>
                <a href="#" class="article-read">Read More ></a>
            </article>
            <article class="big-article">
                <img class="big-article-img" src="./images/foto-min.jpg">
                <h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit voluptas deserunt fugiat cupiditate a.</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil aliquam repudiandae cupiditate voluptatibus quae, doloribus tempore facere magnam sequi ad inventore iusto suscipit, quisquam alias porro amet ea temporibus dolor!</p>
                <a href="#" class="article-read">Read More ></a>
            </article>
            <article class="big-article">
                <img class="big-article-img" src="./images/foto-min.jpg">
                <h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit voluptas deserunt fugiat cupiditate a.</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil aliquam repudiandae cupiditate voluptatibus quae, doloribus tempore facere magnam sequi ad inventore iusto suscipit, quisquam alias porro amet ea temporibus dolor!</p>
                <a href="#" class="article-read">Read More ></a>
            </article>
        </section>
        <section class="right-column">
            <h4>Popular News</h4>
            <article class="small-article">
                <img class="small-article-img" src="./images/foto-min.jpg">
                <div class="small-article-text">
                    <h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil aliquam repudiandae cupiditate voluptatibus quae, doloribus tempore facere magnam sequi ad inventore iusto suscipit, quisquam alias porro amet ea temporibus dolor!</p>
                    <a href="#" class="article-read">Read More ></a>
                </div>
            </article>
            <article class="small-article">
                <img class="small-article-img" src="./images/foto-min.jpg">
                <div class="small-article-text">
                    <h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil aliquam repudiandae cupiditate voluptatibus quae, doloribus tempore facere magnam sequi ad inventore iusto suscipit, quisquam alias porro amet ea temporibus dolor!</p>
                    <a href="#" class="article-read">Read More ></a>
                </div>
            </article>
            <article class="small-article">
                <img class="small-article-img" src="./images/foto-min.jpg">
                <div class="small-article-text">
                    <h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil aliquam repudiandae cupiditate voluptatibus quae, doloribus tempore facere magnam sequi ad inventore iusto suscipit, quisquam alias porro amet ea temporibus dolor!</p>
                    <a href="#" class="article-read">Read More ></a>
                </div>
            </article>
            <article class="small-article">
                <img class="small-article-img" src="./images/foto-min.jpg">
                <div class="small-article-text">
                    <h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil aliquam repudiandae cupiditate voluptatibus quae, doloribus tempore facere magnam sequi ad inventore iusto suscipit, quisquam alias porro amet ea temporibus dolor!</p>
                    <a href="#" class="article-read">Read More ></a>
                </div>
            </article>
        </section>
    </main>
{{> footer}}