{{> header}}
    <div class="separacion">
        <h2>{{title}}</h2>
        <article class="article">
            <img class="article-img" src="./images/foto-min.jpg">
            <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit voluptas deserunt fugiat cupiditate a.</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel excepturi suscipit voluptate iure rem nulla animi. Aspernatur aliquam dolorem, consequatur adipisci officiis deleniti! Ad alias iste ex, deserunt soluta et.
            Libero non nam dolor quibusdam nostrum vero, rem nulla laboriosam totam perspiciatis a incidunt ipsum! Nam hic libero, exercitationem vero cumque reprehenderit ex animi corporis suscipit accusantium in voluptatem doloribus!</p>
        </article>
    </div>
{{> footer}}