{{> header}}
    <div class="separacion">
        <h2>{{title}} News</h2>
        <section class="big-articles-list">
            <article class="big-article">
                <img class="big-article-img" src="./images/foto-min.jpg">
                <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit voluptas deserunt fugiat cupiditate a.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil aliquam repudiandae cupiditate voluptatibus quae, doloribus tempore facere magnam sequi ad inventore iusto suscipit, quisquam alias porro amet ea temporibus dolor!</p>
                <a href="/new" class="article-read">Read More ></a>
            </article>
            <article class="big-article">
                <img class="big-article-img" src="./images/foto-min.jpg">
                <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit voluptas deserunt fugiat cupiditate a.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil aliquam repudiandae cupiditate voluptatibus quae, doloribus tempore facere magnam sequi ad inventore iusto suscipit, quisquam alias porro amet ea temporibus dolor!</p>
                <a href="/new" class="article-read">Read More ></a>
            </article>
            <article class="big-article">
                <img class="big-article-img" src="./images/foto-min.jpg">
                <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit voluptas deserunt fugiat cupiditate a.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil aliquam repudiandae cupiditate voluptatibus quae, doloribus tempore facere magnam sequi ad inventore iusto suscipit, quisquam alias porro amet ea temporibus dolor!</p>
                <a href="/new" class="article-read">Read More ></a>
            </article>
            <article class="big-article">
                <img class="big-article-img" src="./images/foto-min.jpg">
                <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit voluptas deserunt fugiat cupiditate a.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil aliquam repudiandae cupiditate voluptatibus quae, doloribus tempore facere magnam sequi ad inventore iusto suscipit, quisquam alias porro amet ea temporibus dolor!</p>
                <a href="/new" class="article-read">Read More ></a>
            </article>
            <article class="big-article">
                <img class="big-article-img" src="./images/foto-min.jpg">
                <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit voluptas deserunt fugiat cupiditate a.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil aliquam repudiandae cupiditate voluptatibus quae, doloribus tempore facere magnam sequi ad inventore iusto suscipit, quisquam alias porro amet ea temporibus dolor!</p>
                <a href="/new" class="article-read">Read More ></a>
            </article>
            <article class="big-article">
                <img class="big-article-img" src="./images/foto-min.jpg">
                <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit voluptas deserunt fugiat cupiditate a.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil aliquam repudiandae cupiditate voluptatibus quae, doloribus tempore facere magnam sequi ad inventore iusto suscipit, quisquam alias porro amet ea temporibus dolor!</p>
                <a href="/new" class="article-read">Read More ></a>
            </article>
        </section>
    </div>
{{> footer}}