:root {
    --primary-font: 'Golos Text', sans-serif;
    --primary-color: #eb5e5e;
    --secondary-color: gray;
}

* {
    font-family: var(--primary-font);
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
    margin: 0;
}

/* GLOBALS */
a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 0.8rem;
}

h4 {
    font-size: 1.2rem;
    color: var(--primary-color);
    text-decoration: underline;
    text-decoration-line: 2px;
}

/* UTILS */

.btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.6rem;
    cursor: pointer;
    width: 100px;
    justify-content: center;
}
.btn-primary {
    background-color: var(--primary-color);
    color: white;
}
.btn-primary:hover {
    background-image: linear-gradient(to right, var(--primary-color) , #efb3b3);
}
.separacion {
    margin: 1rem 8rem;
}

/* NAVIGATION */
.header {
    margin: 0 4rem;
}
.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-elements {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.nav-element {
    padding: 1rem;
    color: var(--secondary-color);
    font-weight: bolder;
}

.nav-element:hover {
    background-color: var(--primary-color);
    color: white !important;
    font-weight: bolder;
}

.nav-element.active {
    color: var(--primary-color) !important;
}
a.nav-element.active:hover {
    color: white !important;
}

.logo-img {
    width: 50px;
}

.nav-autentication {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

/* BANNER */
.banner {
    background-image: url(../images/banner.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
}

/* MAIN */
.main {
    display: grid;
    grid-template-columns: 70% 30%;
    justify-items: center;
}
.left-column, .right-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    align-items: center;
}
/* ARTICLE */
.big-article {
    width: 600px;
}
.big-article-img {
    max-width: 600px;
    width: 100%;
}
.small-article {
    display: grid;
    grid-template-columns: 40% 60%;
    justify-items: center;
    align-items: center;
    gap: 0.8rem;
}
.small-article-img {
    width: 80%;
}
.article-read {
    color: var(--primary-color);
    text-decoration: underline;
    text-decoration-line: 2px;
    font-weight: bolder;
}

/* FOOTER */
.footer {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer .nav-elements .nav-element {
    color: white;
}
.footer .nav-elements .nav-element.active {
    color: white !important;
}