{{> header}}
    <div class="separacion">
        <h2>{{article.category}}</h2>
        <article class="article">
            <img class="article-img" src="/images/foto-min.jpg">
            <h3>{{article.title}}</h3>
            <p>{{article.content}}</p>
        </article>
    </div>
{{> footer}}