{{> header}}
    <div class="separacion">
        <h3>Articles > {{article.category}}</h3>
        <article class="article">
            <img class="article-img" src="/images/foto-min.jpg">
            <h2>{{article.title}}</h2>
            <p>{{article.content}}</p>
        </article>
    </div>
{{> footer}}